<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>&apos;Ourtine&apos;이 사진 또는 동영상을 촬영하여 습관 인증 촬영 및 등록을 위해 동영상 촬영 및 음성인식을 위한 권한을 허용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>&apos;Ourtine&apos;이 사진 또는 동영상을 촬영하여 습관 인증 및 공유 또는 게시글에 첨부, 프로필 사진 등록 기능을 위해 사진 라이브러리에 접근하도록 허용합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>&apos;Ourtine&apos;이 사진 또는 동영상을 촬영하여 습관 인증 및 공유 또는 게시글에 사진을 촬영 및 등록 기능을 위해 카메라에 접근하도록 허용합니다.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
